---
import '../styles/global.css'
// import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const pageTitle = "About Me";
const identity = {
  //Obj
  firstName: "Levitta",
  country: "Indonesia", currCountry: "Taiwan",
  occupation: "CSIE student + Cyber Security Intern",
  hobbies: ["watching movies", "volley", "cooking and baking"], //array in obj
};
const skills = [
  //array
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Write& Read Documentation",
  "Chinese",
];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "inherit";
const fontWeight = "inherit";
const textCase = "lowercase";
const fontStyle = "italic";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <!-- <style define:vars={{ skillColor, fontWeight, textCase, fontStyle }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
        font-style: var(--fontStyle);
      }
    </style> -->
  </head>
  <!-- This is Render HTML -->
  <body>
		<section class="contents">
      <Header/>
    <h1>
      {pageTitle},
    </h1>
    <h2>... and my new site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul> 
      <li>{identity.firstName},</li>
      <li>Currently living in {identity.currCountry},
        born and raised in {identity.country},
        a {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Three of my hobbies are: {identity.hobbies[0]}
            {identity.hobbies[1]}, and {identity.hobbies[2]}.
          </li>
        )
      }
    </ul>

    <p>My skills are:</p>
    <ul>
      {
        //map - calling and return each element array
        //element name inside the paranthesis can be any pre-defined name
        skills.map((strength) => <li class="skill">{strength}</li>)
      }
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {
      goal === 3 /*Condition*/ ? (
        <p>My goal is to finish in 3 days.</p> /*JSX EXPRESSION; render: true */
      ) : (
        <p>My goal is not 3 days.</p>
      ) /*JSX expression: wrong */

      /*JSX in Curly Brackets LIKE THIS*/
    }

    <!-- This is Render HTML -->
    </section>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
